<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <meta charset="utf-8">
   <title>hola </title>
 </head>
 <body>
   <div class="wrapper">
   <nav>
     <h1> Hola </h1>
     <div class="login">
       <a href="/auth">
         <img src="images/user.svg">
         <span id="login">logout</span>
       </a>
     </div>
   </nav>
   <div class="product-section">
     <div class="product-form">
     <h1>Agregar un producto</h1>
     <span>nombre</span>
       <input id="product-name">
     <span>imagen</span>
       <input id="product-url">
     <span>precio</span>
       <input id="product-price">
     <div class="button-wrapper">
       <div class="button" id="save"> SEND
     </div>
   </div>
    </div>
   </div>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
   <script type="text/javascript" src="/javascripts/main.js"></script>
 </body>
</html>
