<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <meta charset="utf-8">
   <title>hola </title>
 </head>
 <body>
   <nav>
   </nav>
 <div class="user-wrapper">
   <h1>Agregar un producto</h1>
   <span>nombre
     <input id="product-name">
   </span>
   <span>imagen
     <input id="product-url">
   </span>
   <span>precio
     <input id="product-price">
   </span>
   <div class="button-wrapper">
     <div class="button" id="send"> SEND
   </div>
 </div>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
   <script type="text/javascript" src="/javascripts/main.js"></script>
 </body>
</html>
