<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <meta charset="utf-8">
   <title>hola </title>
 </head>
 <body>
   <nav>
   </nav>
 <div class="main-wrapper">
   <div class="auth-wrapper">
     <span class="input-wrapper">
        User
        <input id="username" type="text" name="" value="">
      </span>
      <span class="input-wrapper">
        Password
        <input id="password" type="password" name="" value="">
      </span>
     <div class="button" id="send"> SEND </div>
     <a class="back" href="/agregar">Volver</a>
   </div>
 </div>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
   <script type="text/javascript" src="/javascripts/main.js"></script>
 </body>
</html>
